.chartsForVisits {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cardsContainer {}

@media only screen and (max-width: 768px) {
    // .right_side_grid {
    //     margin-left: 20px !important;
    //     // overflow-x: auto;
    // }

}




//JUST IN CASE YOU NEED THEM IN FUTURE MAYBE!!!! 
// .container {
//     height: 100%;
//     margin-top: 50px;
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }

// .cards {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 50px;
// }